<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Cache-Control" content="no-cache" />
<title>Acepta.com</title>
<style type="text/css">
body{
	font-family: Arial,sans-serif;
	color: #333333;
	line-height: 1.166;	
	margin: 0px;
	padding: 0px;
	font-size:12px;
}
a{
	font-family: Arial;
	font-size: 8pt;
	font-weight; 
	color: #000000;
	text-decoration: none;
}
a:link{
	color: #000000;
	text-decoration: none;
}
a:visited{
	color: #000000;
	text-decoration: none;
}
a:hover{
	color: #000000;
	text-decoration: underline;
}
div.warning {
	padding: 10pt 30pt 10pt 30pt;
	font-size: 11pt;
	background-color: white;
	color: red;
	border: 1px solid red ;
}
div.header {
	height: 70px;
	border: 0pt;	
	margin: 0pt;
	padding: 0pt 30pt 0pt 30pt;
}

</style>

</head>
<body>
		<div class=header>
		<img style="float:left" width="180" src="https://www.acepta.com/wp-content/uploads/2018/06/cropped-logoacepta-e1528387809250.png"/>
		</div>
		<div id="AdvertenciaInstalacion" style="padding: 0px 0px 0px 40px;background-color;float: left;margin-left; font-family: arial, helvetica, sans-serif; font-size:8.5pt; font-weight; color: #666666; clear: both;size:14px; width: 668; height: 367">
			<div  class="warning"> 	
			<b>IMPORTANTE:</b> En el caso de la instalaci&oacute;n de un Certificado Digital, o si desea instalar su Certificado Electronico en un dispositivo criptogr&aacute;fico, aseg&uacute;rese de lo siguiente:
				<ul>
					<li>Ha instalado los drivers de su dispositivo criptogr&aacute;fico</li>
					<li>Tiene conectado su dispositivo criptogr&aacute;fico al computador</li>
				</ul>
			</div>
			<br/>
			<div style="padding: 0pt 30pt 0pt 30pt;">
				Para instalar una firma electr&oacute;nica simple directamente en su computador presione el bot&oacute;n "continuar".<br/><br/>
				Para continuar con la instalaci&oacute;n en su dispositivo criptogr&aacute;fico presione el bot&oacute;n "continuar".
				
				<form name="advertencia">
					<input type="button" name="continuar" value="continuar" onclick="document.getElementById('AdvertenciaInstalacion').style.display='none';document.getElementById('GeneracionPKCS10Certificado').style.display='block'; ChequearExistenciaProveedores();"/>
				</form>
				</p>
			</div>
		</div>
		
		<div id="GeneracionPKCS10Certificado" style="display:none;padding: 0px 0px 0px 40px;background-color;float: left;margin-left; font-family: arial, helvetica, sans-serif; font-size:8.5pt; font-weight; color: #666666; clear: both;size:14px; width: 668; height: 367">
		<b>INSTALACION DE CERTIFICADO</b><br/><br/>
			A continuaci&oacute;n Ud. deber&aacute; confirmar que la informaci&oacute;n de su certificado es correcta.

			<!-- Etapa No. 2: Confirmacion de la Solicitud y Generacion de la Peticion PKCS#10 o SPKAC -->
			<form id="Envio" method="post" enctype="application/x-www-form-urlencoded">
				<input type="hidden" name="CodigoSolicitud" value="$solicitud.Codigo" />
				<input type="hidden" name="PinEncriptado" value="$solicitud.Clave" />

				<table width="676">
				<tr>
					<td width="80">Foto</td>
					<td><img src="showimage?CodigoSolicitud=$solicitud.Codigo" height="101"></td>
				</tr>
				<tr>
					<td width="80">Tipo Certificado</td>
					<td width="319">Certificado #{if}( $solicitud.Autoridad.Digital )Digital#{else}Electronico#{end}</td>
				</tr>
				<tr>
					<td width="80">DNI</td>
					<td width="319">$solicitud.Titular.Dni</td>
				</tr>
				<tr>
					<td width="80">Nombre</td>
					<td width="319">$solicitud.Titular.NombreComun</td>
				</tr>
				<tr>
					<td width="80">e-Mail</td>
					<td width="319">$solicitud.Titular.Correo</td>
				</tr>
				<tr>
					<td width="80">Duraci&oacute;n</td>
					<td width="319">$solicitud.MesesVigencia Meses</td>
				</tr>
				<tr>
					<td colspan="2">&nbsp;</td>
				</tr>
				#if( $browser == "ie" )
					<!-- Internet Explorer -->
					<tr>

						<td width="190" align="right">
						<div id="InstalarCertificadoBoton">						
							<input type="hidden" name="PKCS10" value="" />
							<input type="submit" value="Instalar Certificado" onclick="EnviarPKCS10();" />
						</div>							
						</td>
						<td><div id="InstalarCertificadoProveedores"><select name="Proveedor"></select></div><div id="InstalarCertificadoSinProveedores"><b>Estimado cliente, no se han encontrado los drivers de su dispositivo criptogr&aacute;fico, o este no es soportado por Acepta.com. Favor instale los drivers de su dispositivo, los que puede encontrar en nuestra pagina principal, opci&oacute;n descargas de la secci&oacute;n servicios on-line. Una vez instalados los drivers, vuelva intentar instalar su certificado de firma digital.</b><br/></div></td>
					</tr>
					
				#elseif( $browser == "mozilla" && !$solicitud.Autoridad.Digital )
					<!-- Mozilla -->
					<tr>
						<td width="190" align="right"><input type="submit" value="Instalar Certificado" /></td>
						<td>Tama&ntilde;o de la llave: <keygen name="SPKAC" /></td>
					</tr>
				#else
					<!-- Sin Soporte -->
					<tr>
						<td width="190" align="right">---</td>
						<td>No es posible por el momento instalar Certificados de tipo Digital en este Browser.</td>
					</tr>
				#end
				</table>
			</form>

			<p>Al instalar su Certificado usted declara conocer y estar de acuerdo con todas y cada una de las
			cl&aacute;usulas del <a href="http://www.acepta.com/Productos/CertificadoPersona/ContratoFirmaElectronica.htm" target="_blank">
			Contrato de Certificados</a></p>

			<p>Nota: Aparecer&aacute;n advertencias sobre la instalaci&oacute;n de Certificados en su equipo. Esto es normal y deber&aacute;n
			ser aceptadas para finalizar exitosamente la instalaci&oacute;n.</p>
        
	       <p><small>La generaci&oacute;n de Certificados utiliza c&oacute;digo Copyright (c) 2000-2018
	       The Legion Of The Bouncy Castle (http://www.bouncycastle.org)</small></p>
		</div>

<script language="VBScript"><!--
Sub ChequearExistenciaProveedores
		If document.all.Envio.Proveedor.Length=0 Then
		   document.getElementById("InstalarCertificadoBoton").style.display="none"
		   document.getElementById("InstalarCertificadoProveedores").style.display="none"
		   document.getElementById("InstalarCertificadoSinProveedores").style.display="block"
		Else
		   document.getElementById("InstalarCertificadoBoton").style.display="block"
		   document.getElementById("InstalarCertificadoProveedores").style.display="block"
		   document.getElementById("InstalarCertificadoSinProveedores").style.display="none"
		End If
End Sub
-->
</script>

#if( $isWindowsPostVista)
<!-- Windows Vista o Posterior -->
<object id="objCertEnrollClassFactory" classid="clsid:884e2049-217d-11da-b2a4-000e7bbb2b09"></object>  

<Script Language="JavaScript"><!--

function SetGenKeyFlags(objPrivateKey, nGenKeyFlags)
{
var XCN_NCRYPT_ALLOW_EXPORT_FLAG = 1
var XCN_NCRYPT_UI_NO_PROTECTION_FLAG = 0
var XCN_NCRYPT_UI_PROTECT_KEY_FLAG = 1
var CRYPT_EXPORTABLE=1;
var CRYPT_USER_PROTECTED=2;

objPrivateKey.KeyProtection = (0 != (CRYPT_USER_PROTECTED & nGenKeyFlags))?XCN_NCRYPT_UI_PROTECT_KEY_FLAG : XCN_NCRYPT_UI_NO_PROTECTION_FLAG;
objPrivateKey.ExportPolicy = (0 != (CRYPT_EXPORTABLE & nGenKeyFlags))?XCN_NCRYPT_ALLOW_EXPORT_FLAG : 0;
objPrivateKey.Length = nGenKeyFlags >> 16;

}
-->
</Script>
<script language="VBScript"><!--

Sub EnviarPKCS10
	On Error Resume Next

	Dim ProviderType
	Dim ProviderName
	Dim SubjectName


	Dim objEnroll
	Dim objPrivateKey 
	Dim objRequest
	Dim objRequestCMC
	Dim selectedCSP
    Dim objCSP
	
	Set objEnroll = objCertEnrollClassFactory.CreateObject("X509Enrollment.CX509Enrollment")
	Set objPrivateKey = objCertEnrollClassFactory.CreateObject("X509Enrollment.CX509PrivateKey")
	Set objRequest = objCertEnrollClassFactory.CreateObject("X509Enrollment.CX509CertificateRequestPkcs10")
	Set objRequestCMC = objCertEnrollClassFactory.CreateObject("X509Enrollment.CX509CertificateRequestCmc")
	
	Set selectedCSP = objCertEnrollClassFactory.CreateObject("X509Enrollment.CCspInformation")
 	Set objCSP = objCertEnrollClassFactory.CreateObject("X509Enrollment.CCspInformations")

	SubjectName = "CN=${solicitud.Titular.NombreComun}, C=PE"

	ProviderType = document.all.Envio.Proveedor.options(Envio.Proveedor.selectedIndex).value
	ProviderName = document.all.Envio.Proveedor.options(Envio.Proveedor.selectedIndex).text
	
	objPrivateKey.ProviderName = ProviderName
	objPrivateKey.ProviderType = ProviderType
	objPrivateKey.KeySpec = 1

	#if( $solicitud.Autoridad.Digital )
	    Call SetGenKeyFlags( objPrivateKey, 2 + (2048 * 65536))
	#else
	    Call SetGenKeyFlags( objPrivateKey, 3 + (2048 * 65536))
	#end
	
    selectedCSP.InitializeFromName( ProviderName )
    objCSP.add(selectedCSP)
    objPrivateKey.CspInformations = objCSP
	
    objRequest.InitializeFromPrivateKey 1, objPrivateKey, ""
    objRequest.Subject = SubjectName
    objEnroll.InitializeFromRequest objRequest

	Err.Clear

	Envio.PKCS10.value = objEnroll.CreateRequest(1)

	If Err.Number <> 0 Then
		Alert("Error 0x" & Hex(Err.Number) & " al crear la peticion PKCS10")
	End If
End Sub


Sub RegistrarProveedores
	On Error Resume Next

	Dim ProviderType
	Dim ProviderName
	Dim ProviderIndex
	Dim ProviderOption
	Dim objCSPs
	
    Set objCSPs = objCertEnrollClassFactory.CreateObject("X509Enrollment.CCspInformations")

	#if( $solicitud.Autoridad.Digital )
	    #set( $size = 0 )
		#foreach( $providerName in $supportedTokenProviders)
		    #set( $size = $size +1 )
		#end
		#set( $size = $size - 1 )		
	    Dim supportedTokenProviders($size)
	    #set( $counter = 0 )
		#foreach( $providerName in $supportedTokenProviders)
		    supportedTokenProviders($counter) = "$providerName"		
		    #set( $counter = $counter +1 )
		#end
	
	    objCSPs.AddAvailableCsps
	    ProviderIndex = 0
	    For I = 0 to objCSPs.Count-1
		    If (objCSPs.ItemByIndex(I).LegacyCsp) Then
				ProviderName = objCSPs.ItemByIndex(ProviderIndex).Name
				For J=0 To $size
					If supportedTokenProviders(J) = ProviderName Then
						If Err.Number <> 0 Then
							Exit For
						End If					
						Set ProviderOption= document.createElement("OPTION")
						ProviderOption.text= ProviderName
						ProviderOption.value = objCSPs.ItemByIndex(ProviderIndex).Type
						document.all.Envio.Proveedor.add(ProviderOption)
					End If
				Next
				ProviderIndex = ProviderIndex + 1
			End If
		Next
		Call ChequearExistenciaProveedores		
	#else
	    objCSPs.AddAvailableCsps
	    ProviderIndex = 0
	    For I = 0 to objCSPs.Count-1
		    If (objCSPs.ItemByIndex(I).LegacyCsp) Then
				Set ProviderOption= document.createElement("OPTION")
				ProviderName = objCSPs.ItemByIndex(ProviderIndex).Name
				ProviderOption.text= ProviderName
				ProviderOption.value = objCSPs.ItemByIndex(ProviderIndex).Type
				document.all.Envio.Proveedor.add(ProviderOption)
				If ProviderName = "Microsoft Enhanced Cryptographic Provider v1.0" Then
					document.all.Envio.Proveedor.selectedIndex = ProviderIndex
				End If
				ProviderIndex = ProviderIndex + 1
			End If
		Next
	#end
End Sub


-->
</script>
#end

		

#if ( !$isWindowsPostVista)

<!-- Internet Explorer -->
<object id="XEnroll" classid="clsid:127698E4-E730-4E5C-A2B1-21490A70C8A1" >
</object>

<script language="VBScript"><!--
Sub EnviarPKCS10
	On Error Resume Next

	Dim ProviderType
	Dim ProviderName
	Dim SubjectName

	SubjectName = "CN=${solicitud.Titular.NombreComun}, C=PE"

	ProviderType = document.all.Envio.Proveedor.options(Envio.Proveedor.selectedIndex).value
	ProviderName = document.all.Envio.Proveedor.options(Envio.Proveedor.selectedIndex).text

	#if( $solicitud.Autoridad.Digital )
		XEnroll.GenKeyFlags = 2 + (2048 * 65536)
	#else
		XEnroll.GenKeyFlags = 3 + (2048 * 65536)
	#end

	XEnroll.KeySpec = 1
	XEnroll.UseExistingKeySet = False
	XEnroll.HashAlgorithm = "SHA256"

	XEnroll.ProviderType = ProviderType
	XEnroll.ProviderName = ProviderName

	Err.Clear

	Envio.PKCS10.value = XEnroll.createPKCS10(SubjectName, "1.3.6.1.4.1.311.2.1.21")

	If Err.Number <> 0 Then
		Alert("Error 0x" & Hex(Err.Number) & " al crear la peticion PKCS10")
	End If
End Sub

Sub RegistrarProveedores
	On Error Resume Next

	Dim ProviderType
	Dim ProviderName
	Dim ProviderIndex
	Dim ProviderOption

	#if( $solicitud.Autoridad.Digital )
	    #set( $size = 0 )
		#foreach( $providerName in $supportedTokenProviders)
		    #set( $size = $size +1 )
		#end
		#set( $size = $size - 1 )
	    Dim supportedTokenProviders($size)
	    #set( $counter = 0 )
		#foreach( $providerName in $supportedTokenProviders)
		    supportedTokenProviders($counter) = "$providerName"		
		    #set( $counter = $counter +1 )
		#end
		ProviderType = 1
		XEnroll.ProviderType = ProviderType

		ProviderIndex = 0
		Do While True
			Err.Clear
			ProviderName = XEnroll.EnumProviders(ProviderIndex, 0)
			If Err.Number <> 0 Then
				Exit Do
			End If
			For i=0 To $size
				If supportedTokenProviders(i) = ProviderName Then
					If Err.Number <> 0 Then
						Exit For
					End If									
					Set ProviderOption = document.createElement("OPTION")
					ProviderOption.text = ProviderName
					ProviderOption.value = ProviderType
					document.all.Envio.Proveedor.add(ProviderOption)					
				End If 
			Next
			ProviderIndex = ProviderIndex + 1
		Loop
		Call ChequearExistenciaProveedores		
	#else
		ProviderType = 1

		XEnroll.ProviderType = ProviderType

		ProviderIndex = 0
		Do While True
			Err.Clear
			ProviderName = XEnroll.EnumProviders(ProviderIndex, 0)
			If Err.Number <> 0 Then
				Exit Do
			End If

			Set ProviderOption = document.createElement("OPTION")
			ProviderOption.text = ProviderName
			ProviderOption.value = ProviderType

			document.all.Envio.Proveedor.add(ProviderOption)

			If ProviderName = "Microsoft Enhanced Cryptographic Provider v1.0" Then
				document.all.Envio.Proveedor.selectedIndex = ProviderIndex
			End If

			ProviderIndex = ProviderIndex + 1
		Loop
	#end
End Sub

--></script>
#end

#if( $browser == "ie" )
<script language="VBScript"><!--
Call RegistrarProveedores
--></script>
#end





</body>
</html>
